<header class="header" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <a class="header__link" rel="author" href="{{ "/" | relative_url }}">
    <h1 class="header__title">
      <img src={{ "/assets/img/vincent-navetat-logo.svg" | absolute_url }} alt="Vincent Navetat, illustrator based in London">
    </h1>
  </a>

  {%- if page_paths -%}
    <div class="header__nav-wrapper">
      <input type="radio" name="mobile-header-activator" id="mobile-header-activator--open" class="header__mobile-activator header__mobile-activator--open" />
      <input type="radio" name="mobile-header-activator" id="mobile-header-activator--close" class="header__mobile-activator header__mobile-activator--close" />
      <label for="mobile-header-activator--open" class="header__open-button">Menu</label>
      <nav class="header__nav">
        <label for="mobile-header-activator--close" class="header__close-button">x</label>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__link" href="{{ "/" | relative_url }}">Work</a>
          </li>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <li class="header__list-item">
                <a class="header__link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  {%- endif -%}
</header>
