.post-list {
  margin-top: 0;
  display: grid;
  grid-gap: 24px;
  list-style-type: none;
  padding-left: 0;

  @include medium {
    grid-template-columns: repeat(2, [col-start] 1fr);
  }

  @include large {
    grid-template-columns: repeat(3, [col-start] 1fr);
  }
}

.post-list__item {
  position: relative;
  overflow: hidden;
}

.post-link {
  &:hover {
    &:before {
      opacity: .4;
    }

    &:after {
      opacity: 1;
    }

    .post-link__img {
      transform: scale(1.05);
    }
  }

  &:before {
    background-color: var(--black);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .3s ease-in;
    opacity: 0;
    z-index: 1;
  }

  &:after {
    content: 'View more';
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 2;
    color: var(--white);
    transition: opacity .3s ease-in;
    opacity: 0;
  }
}

.post-link__img {
  display: block;
  transition: transform 2s linear;
  width: 100%;
}
