.form__row {
  display: flex;
  flex-direction: column;

  + .form__row {
    margin-top: 24px;
  }
}

.form__row--right-aligned {
  align-items: flex-end;
}

.form-label__text {
  display: inline-block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--gray);
}

.input {
  outline: none;
  border: none;
  background-color: var(--gray-light);
  color: var(--gray-dark);
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 8px;
  padding-right: 4px;
  width: 100%;
  transition: background-color var(--time-medium);

  &:hover,
  &:focus {
    background-color: var(--white);
  }

  &:focus + .input__underline::before {
    width: 100%;
  }
}

.input__underline {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all var(--time-fast);
    background: var(--black);
  }
}

.input-textarea {
  height: 180px;
}
