---
layout: application
---
<article class="post">

  <header class="post__header">
    <h1 class="post__title">{{ page.title | escape }}</h1>
  </header>

  <div class="post__content">
    {{ content }}
  </div>

  <div class="contact-form-container">
    <form class="contact-form"
          action="https://formspree.io/vincentnavetat@gmail.com"
          method="POST"
          autocomplete="off">
      <div class="form__row">
        <label class="form-label">
          <span class="form-label__text">Name</span>
          <div class="input-container">
            <input class="input input-text" type="text" name="name">
            <span class="input__underline"></span>
          </div>
        </label>
      </div>
      <div class="form__row">
        <label class="form-label">
          <span class="form-label__text">Email</span>
          <div class="input-container">
            <input class="input input-text" type="email" name="_replyto" required>
            <span class="input__underline"></span>
          </div>
        </label>
      </div>
      <div class="form__row">
        <label class="form-label">
          <span class="form-label__text">Message</span>
          <div class="input-container">
            <textarea class="input input-textarea" name="body" required></textarea>
            <span class="input__underline"></span>
          </div>
        </label>
      </div>
      <div class="form__row form__row--right-aligned">
        <input class="button" type="submit" value="Send">
      </div>
    </form>
  <div>

</article>
