---
layout: application
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <form class="contact-form"
        action="https://formspree.io/vincentnavetat@gmail.com"
        method="POST">
    <div class="contact-form__row">
      <label>
        Name
        <div class="input-container">
          <input class="input input-text" type="text" name="name">
          <span class="input__line"></span>
        </div>
      </label>
    </div>
    <div class="contact-form__row">
      <label>
        Email
        <div class="input-container">
          <input class="input input-text" type="email" name="_replyto" required>
          <span class="input__line"></span>
        </div>
      </label>
    </div>
    <div class="contact-form__row">
      <label>
        Message
        <div class="input-container">
          <textarea class="input input-textarea" name="body" required></textarea>
          <span class="input__line"></span>
        </div>
      </label>
      <input class="button" type="submit" value="Send">
    <div>
  </form>

</article>
