---
layout: application
---
<article class="post">

  <header class="post__header">
    <h1 class="post__title">{{ page.title | escape }}</h1>
  </header>

  <div class="post__content">
    <article class="event">
      <h2>
        <a href="https://www.houseofillustration.org.uk/whats-on/current-future-events/house-of-illustration-summer-fair/" target="_blank">
          House of Illustration Summer Fair 2019
        </a>
      </h2>
      <img data-lazy-src={{ "/assets/img/summer_fair_2019.jpg" | absolute_url }} alt="House of Illustration Summer Fair 2019" class="event__img">
      <time datetime="2019-07-13" class="event__date">13.07.2019</time>
      <div class="event__location">The Crossing, King's Cross</div>
      <div class="event__summary">
        <p>
          The largest free illustration fair in London.
        </p>
        <p>
          I will be selling watercolour and ink original artworks as well as numerous new products made for the occasion, including prints, cards, t-shirts, tote bags and stickers.
        </p>
      </div>
      </article>
  </div>
</article>
