---
layout: application
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-navigation__link-wrapper post-navigation__link-wrapper--next">
    {% if page.next.url %}
      <a class="post-navigation__link" href="{{page.next.url}}">←</a>
    {% endif %}
  </div>
  <div class="post-navigation__link-wrapper post-navigation__link-wrapper--prev">
    {% if page.previous.url %}
      <a class="post-navigation__link" href="{{page.previous.url}}">→</a>
    {% endif %}
  </div>

  <footer class="post__footer">
    <p class="post__meta">
      <time class="post__published-on" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: "%-d %B %Y" }}
      </time>
    </p>
  </footer>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
