* {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: var(--font-size-base);
}

a,
a:visited {
  color: var(--black);
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.link--underlined {
  border-bottom: 1px solid var(--black);
}

.site-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.page-content {
  min-height: 300px;
}
