.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 48px;
}

.header__link {
  display: flex;
  align-items: center;
  transition: opacity var(--time-fast) ease-out;

  &:hover {
    opacity: var(--opacity-high);
  }
}

.header__title {
  display: contents;
  margin-top: 0;
  margin-bottom: 0;
}

.header__list {
  display: flex;
  list-style-type: none;
}

.header__list-item {
  + .header__list-item {
    padding-left: 24px;
  }
}
