.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;

  @include medium {
    align-items: center;
    padding-bottom: 48px;
  }
}

.header__mobile-activator {
  display: none;
}

@include small-only {
  .header__nav {
    display: none;
    position: absolute;
    right: 16px;
    z-index: 2;
    background: var(--white);
    padding-bottom: 16px;
    padding-left: 16px;
    flex-direction: column;
    align-items: flex-end;
  }

  .header__close-button {
    padding-bottom: 16px;
  }

  .header__mobile-activator--open:checked {
    ~ .header__nav {
      display: flex;
    }

    ~ .header__open-button {
      display: none;
    }
  }
}

.header__open-button,
.header__close-button {
  @include medium {
    display: none;
  }
}

.header__link {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  transition: opacity var(--time-fast) ease-out;
  justify-content: flex-end;

  &:hover {
    opacity: var(--opacity-high);
  }
}

.header__title {
  display: contents;
  margin-top: 0;
  margin-bottom: 0;
}

.header__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;

  @include medium {
    margin: 16px 0;
    flex-direction: row;
  }
}

.header__list-item {
  + .header__list-item {
    margin-top: 20px;

    @include medium {
      margin-top: 0;
      margin-left: 24px;
    }
  }
}
